*{
	margin: 0;
	padding: 0;
	min-height: 600;
	min-width: 700;
}
/*
nav{
	height: 15px;
}

a{
	position: fixed;
}

*/

.navbar-brand,
.navbar-nav li a {
    line-height: 15px;
    height: 15px;
    padding-top: 0;
}

@media only screen and (max-width: 600px){
	#contact_name{
		width: 100px;
		margin-right: 1px;
	}
}


#btn_add{
	position: relative;
	margin: auto;
	background: #007ACC;
	color: white;
	border: 0;
	height: 35px;
	width: 35px;
	outline: none;
	padding: none;
	display: inline;
	border-radius: 25px;
}


#btn_add:hover{
	height: 45px;
	width: 45px;
	font-size: 190%;
}


#name{
	display: none;
}
#phone{
	display: none;
}
#btn_save{
	display: none;
}

